{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <title>Архив статей</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
</head>

<body class="archive">
    <div class="header">
        <img src="{% static 'image2.jpg' %}" alt="Логотип проекта" />
    </div>

    <div class="archive">
        {% for post in posts %}
        <div class="one-post">
            <h2 class="post-title">
                <a href="{% url 'get_article' article_id=post.id %}">{{ post.title }}</a>
            </h2>
            <div class="article-info">
                <div class="article-author">{{ post.author.username }}</div>
                <div class="article-created-date">{{ post.created_date }}</div>
            </div>
            <p class="article-text">{{ post.get_excerpt }}</p>
        </div>
        {% endfor %}
    </div>
</body>

</html>